* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #251a66;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  font-weight: 400;
}

header {
  padding: 2vmin 4vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  background-color: #251a66;;
  color: #ffffff;
}

.header-title {
  font-size: 1.5rem;
}

.page-title {
  margin: 0 auto;
  margin-top: 6vmin;
  padding: 2vmin 4vmin;
  font-size: 3rem;
  font-weight: 700;
  width: fit-content;
}

button {
  margin-top: 3vmin;
  border: 1px solid #251a66;
  border-radius: 5px;
  color: #251a66;
  background-color: white;
  padding: 1vmin 2vmin;
}

button:hover {
  border: 2px solid white;
  color: white;
  background-color: #251a66;
  cursor: pointer;
}

